* {
    padding: 0;
    margin: 0;
}

body {
    background: url(../image/body.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    border-bottom: 2px solid #000;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}

.inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.header__logo {
    text-decoration: none;
    color: #000;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 100px auto;
}

input {
    border: 0px;
    border-bottom: 1px solid #000;
    height: 34px;
    font-size: 20px;
    margin: 10px 0px;
    outline: none;
    background-color: transparent;
}

button, .btn {
    border: 0px;
    background: rgb(222, 36, 251);
    border-radius: 10px;
    /* height: 34px; */
    font-size: 20px;
    margin: 10px 0px;
    color: #fff;
    cursor: pointer;
    padding: 10px 10px;
    text-decoration: none;
}



.item {
    max-width: 700px;
    margin: 20px auto;
    display: flex;
    border: 1px solid #000;
    padding: 10px;
    background: rgb(255, 255, 255);
}

.item__card {
    max-width: 700px;
    margin: 20px auto;
    border: 1px solid #000;
    padding: 10px;
    background: rgb(255, 255, 255);
}

.data {
    margin-left: 15px;
    padding-bottom: 10px;
}

.image__user {
    position: absolute;
    display: grid;
    right: 50px;
}